@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply w-[149px] h-[60px] rounded-[32px] p-2 text-white;
  }

  .search-bar-item {
    @apply flex flex-col gap-2 justify-start;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.poppins {
  font-family: var(--font-poppins);
}

.bebas-neue {
  font-family: var(--font-bebas-neue);
}

.playfair-display {
  font-family: var(--font-playfair-display);
}

.vidaloka {
  font-family: var(--font-vidaloka);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.nunito {
  font-family: var(--font-nunito);
}

.inter {
  font-family: var(--font-inter);
}
